<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>The app is created by ATW using the data from Mapbox for geo coordinates and darksky.net for weather forcast</p> 
            <img class="potrait" src="/img/me.jpg"/>
        </div>
       {{>footer}} 
    </body>
</html>